<div data-hook="admin_store_form_catalog_mode">
  <div class="row">
    <div class="four columns">
      <%= f.field_container :catalog_mode do %>
        <%= f.label :catalog_mode do %>
          <%= f.check_box :catalog_mode %> <%= Spree::Store.human_attribute_name(:catalog_mode) %>
        <% end %>
        <%= f.field_hint :catalog_mode %>
      <% end %>
    </div>
  </div>
</div>
