<div data-hook="admin_store_form_catalog_mode" class="two columns">
  <%= f.field_container :catalog_mode do %>
    <%= f.label :catalog_mode, t('.catalog_mode') %>
    <%= f.field_hint :catalog_mode %>
    <ul>
      <li><%= f.radio_button :catalog_mode, "true", :class => 'fullwidth' %> <%= I18n.t('spree.say_yes') %></li>
      <li><%= f.radio_button :catalog_mode, "false", :class => 'fullwidth' %> <%= I18n.t('spree.say_no') %></li>
    </ul>
    <%= error_message_on :store, :catalog_mode %>
  <% end %>
</div>
